:root {
	--primary: #020410;
	--dark-primary: #01030f;
	--dark-primary-layer: rgba(1,3,15, 0.95);
	--dark-primary-second-layer: rgba(1,3,15, 0.75);
	--secondary: #FF1053;
	--tertiary: #7A28CB;
	--cta: #449DD1;
	--ctaHover: #257db1;
	--black: #000000;
	--light-black: #080808;
	--white: #ffffff;
	--layer-color: rgba(255, 255, 255, 0.1);
	--gray: #b2b2b2;
	--search-bar: rgba(1,2,10, 0.6);
	--secondaryCta: #1c1e28;
	--secondaryCtaHover:  #353640;
	--secondaryCtaOpacity: rgba(255, 255, 255, 0.1);
	--secondaryCtaOpacityHover: rgba(255, 255, 255, 0.2);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--primary);
	color: var(--white);
	font-family: 'Work Sans', sans-serif;
	overflow-x: hidden;
}

.no-scroll {
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4 {
	font-weight: 500;
	line-height: 1.3;
	margin: 0;
}

h1 {
	font-size: 26px;
	
}

h2 {
	font-size: 20px;
	margin-bottom: 16px;
}

h3 {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 4px;
}

h4 {
	font-size: 14px;
}

p  {
	margin-top: 0;
	line-height: 1.5;
	color: var(--gray);
}

span {
	display: inline-block;
	color: var(--gray);
}

a {
	color: var(--cta);
	text-decoration: none;
}

a:not(.button):hover {
	opacity: 0.75;
}

.secondary-color {
	color: var(--secondary);
}

.tertiary-color {
	color: var(--tertiary);
}


.logo img {
	width: 155px;
}


.loader {
	margin: auto;
	text-align: center;
}

@keyframes loaderBounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}

.loader span {
	display: inline-block;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: var(--secondary);
	margin: 0 5px;
	animation: loaderBounce .8s ease-in-out infinite;
}

.loader span:nth-child(2) {
	animation-delay: .1s;
}

.loader span:nth-child(3) {
	animation-delay: .2s;
}



@media screen and (min-width: 1024px) and (max-width: 1279px ) {
	.off-canvas-wrapper.nav-displayed {
		transform: translateX(-30vw);
	}
}

.swiper.half-cutted .swiper-slide {
    padding-right: 24px;
}

@media screen and ( min-width: 1281px) {
	.swiper.half-cutted .swiper-slide {
		padding-right: 32px;
	}
}

@media screen and ( min-width: 1100px) {
	.swiper-slide > a {
		transition: all .3s ease;
	}

	.swiper-slide > a span,
	.swiper-slide > a h3,
	.swiper-slide > a h4,
	.swiper-slide > a svg {
		transition: opacity .4s ease;
	}

	.dragging {
		cursor: grab;
	}
	
	.dragging .swiper-slide > a {
		transform: scale(0.9);
		pointer-events: none;
	}
	
	.dragging .swiper-slide > a span,
	.dragging .swiper-slide > a h3,
	.dragging .swiper-slide > a h4,
	.dragging .swiper-slide > a svg {
		opacity: 0;
	}
}

input[type=range] {
    background-color: transparent;
    -webkit-appearance: none;
	appearance: none;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: var(--layer-color);
    border-radius: 32px;
    border: 0.2px solid var(--layer-color);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--layer-color);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: var(--layer-color);
    border-radius: 32px;
    border: 0.2px solid var(--layer-color);
}

input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 2px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: var(--layer-color);
    border: 0.2px solid var(--layer-color);;
    border-radius: 32px;

}
input[type=range]::-ms-fill-upper {
    background: var(--layer-color);
    border: 0.2px solid var(--layer-color);
    border-radius: 32px;
}


input[type=range]::-webkit-slider-thumb {
    border: 1px solid var(--cta);
    height: 8px;
	width: 32px;
    border-radius: 8px;
    background: var(--cta);
    cursor: pointer;
    margin-top: -3px;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
	border: 1px solid var(--cta);
    height: 8px;
    width: 32px;
    border-radius: 8px;
    background: var(--cta);
    cursor: pointer;
    margin-top: -3px;
}

input[type=range]::-ms-thumb {
	border: 1px solid var(--cta);
    height: 8px;
    width: 32px;
    border-radius: 8px;
    background: var(--cta);
    cursor: pointer;
    margin-top: -3px;
}

input[type=range]:focus::-ms-fill-lower {
    background: var(--layer-color);
}

input[type=range]:focus::-ms-fill-upper {
    background: var(--layer-color);
}

input[type=date] {
    background-color: transparent;
    border: 1px solid var(--layer-color);
    color: var(--white);
    padding: 8px;
    border-radius: 8px;
    outline: none;
}

input[type=date]:focus {
    border-color: var(--white);
}

input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

@keyframes loaderBounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}

.loader {
	text-align: center;
	margin: auto;
}

.loader span {
	display: inline-block;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: var(--secondary);
	margin: 0 5px;
	animation: loaderBounce .8s ease-in-out infinite;
}

.loader.secondary-color span {
	background-color: var(--tertiary)
}

.loader span:nth-child(2) {
	animation-delay: .1s;
}

.loader span:nth-child(3) {
	animation-delay: .2s;
}

.logo span {
	color: var(--white);
	font-size: 20px;
}
