.off-canvas-wrapper {
	min-height: 100vh;
	transition: transform .2 ease;
}

.off-canvas-wrapper.nav-displayed {
	transform: translateX(-22%);
	transition: transform .4s ease;
}

.off-canvas-wrapper .off-canvas-wrapper__backdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 90;
	background-color: var(--dark-primary);
	opacity: 0;
	visibility: visible;
	transform: translateY(-100%);
	transition: opacity .2s ease, visibility 0s .2s;
}

.off-canvas-wrapper.nav-displayed .off-canvas-wrapper__backdrop {
	visibility: visible;
	transform: translateY(0%);
	opacity: 0.8;
	transition: opacity .4s ease;
}

@media screen and (max-width: 640px) {
	.off-canvas-wrapper.nav-displayed {
		transform: translateX(-100%);
	}
}

@media screen and (min-width: 641px) and (max-width: 1023px ) {
	.off-canvas-wrapper.nav-displayed {
		transform: translateX(-50%);
	}
}

@media screen and (min-width: 1024px) and (max-width: 1280px ) {
	.off-canvas-wrapper.nav-displayed {
		transform: translateX(-35%);
	}
}
